<div class="container-fluid d-flex footer-container">
    <div class="footer-content">
        <h4 class="footer-title">Về Aurora Spa</h4>
        <span class="footer-1-content">Aurora Spa - nơi mang đến khởi đầu mới cho mái tóc, làn da và bộ móng của bạn, chỉ với một cú click, bạn có thể đặt lịch nhanh chóng để tỏa sáng với vẻ đẹp tự tin.</span>
        <div class="footer-1-content">
            <i class="bi bi-geo-alt-fill"></i> &nbsp;669 Đỗ Mười, Linh Xuân, Thủ Đức, TP. Hồ Chí Minh
        </div>
        <div class="footer-1-content">
            <i class="bi bi-telephone-fill"></i> &nbsp;0908123456
        </div>
        <div class="footer-1-content">
            <i class="bi bi-envelope-fill"></i> &nbsp;auroraspacskh&#64;gmail.com
        </div>
        <h4 class="footer-title">Phương thức thanh toán</h4>
        <div class="footer-1-content">
            <i class="bi bi-qr-code"></i> &nbsp;Chuyển khoản qua mã QR
        </div>
        <div class="footer-1-content">
            <i class="bi bi-cash"></i> &nbsp;Thanh toán trực tiếp
        </div>
    </div>
    <div class="footer-content">
        <h4 class="footer-title">Hỗ trợ khách hàng</h4>
        <div class="footer-1-content">
            Liên hệ
        </div>
        <div class="footer-1-content">
            FAQs
        </div>
        <div class="footer-1-content">
            Hướng dẫn đặt lịch
        </div>
    </div>
    <div class="footer-content">
        <h4 class="footer-title">Liên kết</h4>
        <div class="footer-1-content" [routerLink]="['/home']" style="cursor: pointer;">Trang chủ</div>
        <div class="footer-1-content" [routerLink]="['/product/nail']" style="cursor: pointer;">Dịch vụ nail</div>
        <div class="footer-1-content footer-nail">Tạo nail mới</div>
        <div class="footer-1-content footer-nail">Tải ảnh nail</div>
        <div class="footer-1-content footer-nail">Chọn nail theo ngày sinh</div>
        <div class="footer-1-content footer-nail">Thử nail</div>
        <div class="footer-1-content" [routerLink]="['/product/wash']" style="cursor: pointer;">Dịch vụ gội</div>
        <div class="footer-1-content" [routerLink]="['/product/wax']" style="cursor: pointer;">Dịch vụ wax</div>
        <div class="footer-1-content">Blog</div>
    </div>
    <div class="footer-content">
        <h4 class="footer-title">Chính sách</h4>
        <div class="footer-1-content">Chính sách hủy, đổi lịch</div>
        <div class="footer-1-content">Chính sách tích, sử dụng điểm</div>
        <div class="footer-1-content">Chính sách bảo mật</div>
        <div class="footer-1-content">Giải quyết khiếu nại</div>
        <h4 class="footer-title">Kết nối với Aurora Spa</h4>
        <div class="d-flex footer-1-content footer-social">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>