.page-name{
    background-color: #FE9312;
    color: #FFF9F3;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px; 
}
#filter{
    color:black;
    width: 30%;
    gap: 5px;
    
}
.filter-title{
    font-family: 'Montserrat';
    font-size: 20px;
}
.form-check-label{
    font-family: 'Inter Tight';
    font-size: 18px;
}
#filter-button{
    background-color: #FE9312;
    width: 30%;
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 20px;
    color: white;
    border: 3px solid #FE9312;

}
#filter-button:hover{
    background-color: #FFF9F3;
    border-color: #FE9312;
   border: 3px solid #FE9312;
    color: #FE9312;
}
.container{
    margin: 0;
    
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    border: 3px solid orange;
    background-color: #FFF9F3;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)
}


.product .container {
    font-family: 'Montserrat';
    align-items: center;
    padding: 0;
    margin: 0;
}

.product .d-flex {
    gap: 30px;
    margin-left: 40px;
    margin-right: 30px;
    /* margin-top: 0px; */
    overflow-x: auto;
    
}

.product .d-flex::-webkit-scrollbar {
    height: 5px;
}

.product .d-flex::-webkit-scrollbar-thumb {
    background-color: #fac482;
    border-radius: 4px;
}

.product .d-flex::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.product .product-container {
    text-align: center;
}

.product img {
    width: 250px;
    height: 250px;
}

.product .product-name {
    margin: 0;
    color: black;
    font-weight: 600;
    margin-top: 10px;
    font-size: 11pt;
}

.product .icon {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

.product i {
    color: gold;
}

.product .btn {
    color: #FFF9F3;
    background-color: #FE9312;
    border-color: #FE9312;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 8pt;
    width: 150px;
    border: 3px solid #FE9312;
}

.product .btn:hover {
    background-color: #FFF9F3;
    border-color: #FE9312;
   border: 3px solid #FE9312;
    color: #FE9312;
}

.product a {
    text-decoration: none;
}
.product h1{
   color: #3B5635;
   font-family: 'Montserrat' ;
}
.product .product-price {
    margin: 0;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
    font-size: 11pt;
}