<div class="header">
    <div class="header-container d-flex flex-row align-items-center">
        <div class="logo-container flex-grow-1 px-5 ">
            <a href="#"><img src="../assets/logo.png" alt=""></a>
        </div>
        <form class="search-bar d-flex justify-content-end ">
            <input type="text" id="search-input" placeholder="Nhập nội dung cần tìm" class="form-control flex-grow-1">
            <button class="btn search-button bi bi-search"></button>
        </form>
        <div class="icon-container d-flex justify-content-around ">
            <div ><a href="#" routerLink="/sign-in"class="icon-header"><i class="bi bi-person-circle"></i></a></div>
            <div ><a href="#" class="icon-header"><i class="bi bi-bell-fill"></i></a></div>
            <div><a href="#" routerLink="/cart" class="icon-header"><i class="bi bi-cart-fill"></i></a></div>
        </div>
    </div>
    <div class="header-info d-flex justify-content-center flex-wrap ">
        <nav>
            <ul>
                <li class="header-group"><a href="#" routerLink="/product/nail">NAIL</a>
                    <ul>
                        <li><a href="#" class="nail-header-group">TẠO NAIL MỚI</a></li>
                        <li><a href="#" class="nail-header-group">TẢI ẢNH NAIL</a></li>
                        <li><a href="#" class="nail-header-group">CHỌN NAIL THEO NGÀY SINH</a></li>
                        <li><a href="#" class="nail-header-group">THỬ NAIL</a></li>
                    </ul>
                </li>
                <li class="header-group"><a href="#" routerLink="/product/wash">GỘI</a></li>
                <li class="header-group"><a href="#" routerLink="/product/wax">WAX</a></li>
                <li class="header-group"><a href="#">BLOG</a></li>
                <li class="header-group"><a href="#">LIÊN HỆ</a></li>
                <li class="header-group"><a href="#">TRA CỨU LỊCH ĐÃ ĐẶT</a></li>
            </ul>
        </nav>
    </div>

</div>